@charset "utf-8";

/* SOBREMESAS */
.sobremesa1{
    display:flex;
	justify-content:space-around;
    padding: 130px 0px 0px 50px
}

.sobremesa1 img{
    width: 230px;
    height: 190px;
    border-radius: 20px;
}

.sobremesa1 h2{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Rasa, serif';
}

.sobremesa1 h4{
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    color: #000000;
}

.sobremesa2{
    display:flex;
	justify-content:space-around;
    padding: 65px 0px 0px 50px
}

.sobremesa2 img{
    width: 230px;
    height: 190px;
    border-radius: 20px;
}

.sobremesa2 h2{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Rasa, serif';
}

.sobremesa2 h4{
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    color: #000000;
}

.sbs:hover {
   transform: scale(1.1);
}

.sobremesa3{
    display:flex;
	justify-content:space-around;
    padding: 130px 0px 0px 50px
}

.sobremesa3 img{
    width: 230px;
    height: 190px;
    border-radius: 20px;
}

.sobremesa3 h2{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Rasa, serif';
}

.sobremesa3 h4{
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    color: #000000;
}

/* ---------- */

/* LANCHES */

.lanches1{
    display:flex;
	justify-content:space-around;
    padding: 130px 0px 0px 50px
}

.lanches1 img{
    width: 230px;
    height: 190px;
    border-radius: 20px;
}

.lanches1 h2{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Rasa, serif';
}

.lanches1 h4{
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    color: #000000;
}

.lanches2{
    display:flex;
	justify-content:space-around;
    padding: 65px 0px 0px 50px
}

.lanches2 img{
    width: 230px;
    height: 190px;
    border-radius: 20px;
}

.lanches2 h2{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Rasa, serif';
}

.lanches2 h4{
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    color: #000000;
}

.lacs:hover {
   transform: scale(1.1);
}

.lanches3{
    display:flex;
	justify-content:space-around;
    padding: 130px 0px 0px 50px
}

.lanches3 img{
    width: 230px;
    height: 190px;
    border-radius: 20px;
}

.lanches3 h2{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Rasa, serif';
}

.lanches3 h4{
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    color: #000000;
}


/* ---------- */

/* VEGETARIANOS */
.vegetariano1{
    display:flex;
	justify-content:space-around;
    padding: 130px 0px 0px 50px
}

.vegetariano1 img{
    width: 230px;
    height: 190px;
    border-radius: 20px;
}

.vegetariano1 h2{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Rasa, serif';
}

.vegetariano1 h4{
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    color: #000000;
}

.vegetariano2{
    display:flex;
	justify-content:space-around;
    padding: 65px 0px 0px 50px
}

.vegetariano2 img{
    width: 230px;
    height: 190px;
    border-radius: 20px;
}

.vegetariano2 h2{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Rasa, serif';
}

.vegetariano2 h4{
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    color: #000000;
}

.vta:hover {
   transform: scale(1.1);
}

.vegetariano3{
    display:flex;
	justify-content:space-around;
    padding: 130px 0px 0px 50px
}

.vegetariano3 img{
    width: 230px;
    height: 190px;
    border-radius: 20px;
}

.vegetariano3 h2{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Rasa, serif';
}

.vegetariano3 h4{
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    color: #000000;
}


/* ---------- */

/* FITNESS */
.fitness1{
    display:flex;
	justify-content:space-around;
    padding: 130px 0px 0px 50px
}

.fitness1 img{
    width: 230px;
    height: 190px;
    border-radius: 20px;
}

.fitness1 h2{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Rasa, serif';
}

.fitness1 h4{
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    color: #000000;
}

.fitness2{
    display:flex;
	justify-content:space-around;
    padding: 65px 0px 0px 50px
}

.fitness2 img{
    width: 230px;
    height: 190px;
    border-radius: 20px;
}

.fitness2 h2{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Rasa, serif';
}

.fitness2 h4{
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    color: #000000;
}

.fits:hover {
   transform: scale(1.1);
}

.fitness3{
    display:flex;
	justify-content:space-around;
    padding: 130px 0px 0px 50px
}

.fitness3 img{
    width: 230px;
    height: 190px;
    border-radius: 20px;
}

.fitness3 h2{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Rasa, serif';
}

.fitness3 h4{
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    color: #000000;
}

/* ---------- */

/* VEGANOS */
.vegano1{
    display:flex;
	justify-content:space-around;
    padding: 130px 0px 0px 50px
}

.vegano1 img{
    width: 230px;
    height: 190px;
    border-radius: 20px;
}

.vegano1 h2{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Rasa, serif';
}

.vegano1 h4{
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    color: #000000;
}

.vegano2{
    display:flex;
	justify-content:space-around;
    padding: 65px 0px 0px 50px
}

.vegano2 img{
    width: 230px;
    height: 190px;
    border-radius: 20px;
}

.vegano2 h2{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Rasa, serif';
}

.vegano2 h4{
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    color: #000000;
}

.vga:hover {
   transform: scale(1.1);
}

.vegano3{
    display:flex;
	justify-content:space-around;
    padding: 130px 0px 0px 50px
}

.vegano3 img{
    width: 230px;
    height: 190px;
    border-radius: 20px;
}

.vegano3 h2{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Rasa, serif';
}

.vegano3 h4{
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    color: #000000;
}


/* ---------- */

/* BEBIDAS */
.bebidas1{
    display:flex;
	justify-content:space-around;
    padding: 130px 0px 0px 50px
}

.bebidas1 img{
    width: 190px;
    height: 200px;
    border-radius: 20px;
}

.bebidas1 h2{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Rasa, serif';
}

.bebidas1 h4{
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    color: #000000;
}

.bebidas2{
    display:flex;
	justify-content:space-around;
    padding: 65px 0px 0px 50px
}

.bebidas2 img{
    width: 190px;
    height: 200px;
    border-radius: 20px;
}

.bebidas2 h2{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Rasa, serif';
}

.bebidas2 h4{
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    color: #000000;
}

.bbd:hover {
   transform: scale(1.1);
}

.bebidas3{
    display:flex;
	justify-content:space-around;
    padding: 130px 0px 0px 50px
}

.bebidas3 img{
    width: 190px;
    height: 200px;
    border-radius: 20px;
}

.bebidas3 h2{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Rasa, serif';
}

.bebidas3 h4{
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    color: #000000;
}


/* ---------- */
