
.titulo{
    margin:0 auto;
    color:rgb(3, 3, 3);
    text-align:center;
    padding: 70px;
    font-size: 40px;
    font-weight: bold;
}

/* entradas */

.entradas h2 {
    margin: 1em auto;
    text-align: center;
    font-size: 45px;
  }
  
.entradas h3 {
  margin: 1em auto;
  text-align: center;
}

/* pratos principais */

.pratos-principais {
    width:100%;
    text-align:Center;
    font-size: 20px;
}

.pratos-principais h3 {
    margin-bottom:2em;
    margin-top:2em;
}

.galeria {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.galeria figure {
    width:30%;
    margin:1em;
    height:auto;
}

.galeria figure img {
    width:100%;
    display:block;
}

.galeria figure figcaption {
    padding:1em;
}


/* sobremesas section  */

.sobremesas-geral {
    width:70%;
    text-align: center;
    margin:2em auto;
}

.sobremesas-geral h3 {
    margin:1em auto;
}

.sobremesas {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

article {
    padding:1.5em;
    margin:0;
}

article p {
    padding-top:0;
}

 article.sobre-3 {
    width:40%;
    margin-right:2%;

}

article.sobre-2 {
    width:40%;
    margin-left:2%;
    
}

#sobre1, #sobre4 {
    background:#f7f1e3;
    width:44%;
}

/* seção de carta de vinhos */
.carta-vinhos {
    text-align:center;
    margin:3em auto 0 auto;
    background: #f7f1e3;
}

.carta-vinhos h3 {
    margin-bottom:1em;
    padding-top:1em;
    line-height:2em;
}

.vinhos-lista{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
}

.vinho-item {
    width:27%;
}