@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://allfont.net/allfont.css?fonts=quicksand-regular');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');


body{
    width: 100%;
    max-width: 1900px;
    font-size: 25px;
	overflow-x: hidden;
}

.site{
    width:100%;
    max-width: 1900px;
    margin: 0 auto;
}

/* BANNNER */

.Banner img{
    max-width: 100%;
}

/* SOBRE */ 

.sobre1 img{
    display: flex;
    border-radius:50px;
    margin-left: 10%;
    width: 550px;
    margin-top: -70px;
}

.sobre1 h1 {
    font-family: 'Quicksand-Regular';
    font-size: 45px;
    margin-left: 70%;
    padding-top: 65px;
}

.sobre1 p{
    margin: auto;
    text-align: justify;
    margin-top: -410px;
    margin-left: 55%;
    font-size: 16px;
    font-family: 'Raleway-Regular';
}

.sobre1 h1 p{
    padding-top: 100px;
}

.fundo{
    width: 100%;
    height: 235px;
    background-image: url(../img/fundo.jpg);
    background-position: 50% 35%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #f6f5f4;
    margin-top: 380px;
}

.fundo1{
    width: 100%;
    height: 235px;
    background-image: url(../img/fundo1.jpg);
    background-position: 50% 60%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #f6f5f4;
    margin-top: 70px;
}

.menu{
    display: flex;
    justify-content: center;
    padding-top: 35px;
    font-family: 'Merienda';
    color: red;
}

.menu h1{
    font-size: 75px;
    font-family: 'Quicksand Regular';
}
    
.menu1{
    display: flex;
    justify-content:space-around;
    padding: 95px 250px 0px 250px
}

.menu1 article a{
	display: flex;
	justify-content:space-around;
	font-size: 20px;
    color: black;
    text-decoration: none; 
    font-family: 'Quicksand Regular';
}

.menu2{
    display: flex;
    justify-content:space-around;
    padding: 100px 290px 0px 230px
}

.menu2 img{
    margin-left: 30px;
}

.menu2 article a{
    display: flex;
	justify-content:space-around;
	font-size: 20px;
    color: black;
    text-decoration: none;
    font-family: 'Raleway-Regular';
}

.bbd:hover {
   transform: scale(1.1);
}

#eveti{
    text-align: center;
    margin-top: 40px;
    font-size: 50px;
}

.eve{
    display: flex;
    justify-content:space-around;
    font-size: 40px;
	margin: 45px;
    margin-top: 100px;
}

.eve article {
	display: flex;
	justify-content:space-around;
}
 
.eve article img {
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    border-radius: 10px;
}

.eve p{
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-family: 'Fjalla One', sans-serif;
}

.icones article{
	display: flex;
	justify-content: flex-end;
}

.Menuscardapio{
	display: flex;
	justify-content: center;
	font-size: 150px;
	margin: -15px;
}

.msp img{
    width: 1950px;
    border-width: 15px;
    max-width: 100%;
    margin-top: 22px;
    margin-bottom:1px;
    height:600px;
}

.msp p{
    width: 1950px;
    position: absolute;
    font-size: 70px;
    color:#1874CD;
    margin-left: 655px;
    margin-top: 250px;
    font-family: 'Lobster', cursive;
}

.cardapio1{
	display:flex;
	justify-content:space-around;
	font-size: 25px; 
    margin-top: 50px;
}

.cardapio1 img{
    height: 150px;
    border-radius:20px;
}

.cardapio1 h2{
    font-size: 25px;
    margin-top: 10px;
    font-family: 'Rasa', serif;
    font-family: 'Quicksand Regular', arial;
}

/* Contato */
.cto{
   padding: 100px;    
}

.contato{
    padding-right: 70%;
    margin-top: -10px;
    margin-left: 10px
}

.contato h1{
    font-size: 40px;
    margin-left: 5px;
}

.contato h6{
   font-size: 15px;
   margin-top: 5px;
}

.contato h2{
   font-size: 20px;
   margin-top: 10px;
}

.tbl{
    width: 60%;
    padding: 3px;
    margin-bottom: 5%;
    margin-top: -5px;
    border-radius: 5px; 
}

.mapa{
    margin-left: 800px;
    margin-top: -45%; 
}

.nome h1{
    font-size: 20px;
    margin-top: -45px;
    margin-left: 95px;
}

.nome input{
    margin-right: 25px;
}

.sobre input{
    margin-right: 45px;
}

.sobrenome h1{
    font-size: 20px;
    margin-top: -25px;
    margin-left: 95px;
}

.telefone h1{
    font-size: 20px;
    margin-top: -20px;
    margin-left: 95px;
}

.email h1{
    font-size: 20px;
    margin-top: -35px;
    margin-left: 95px;
}

.mensagem h1{
    font-size: 20px;
    margin-top: -35px;
    margin-left: 95px;
}
