@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://allfont.net/allfont.css?fonts=quicksand-regular');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700|Roboto:400,700');

/*Estilos gerais*/

h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
}

body {
    font-size:16px;
    font-family: 'Roboto', sans-serif;
    background: #fff;
    box-sizing: border-box;
}

/* banner principal */

.banner-principal {
    background: url("../img/banner.jpg") no-repeat center center;
    background-size:cover;
    height:auto;
    margin:0 auto;
    color:#fff;
    text-align:center;
    padding:20em 0
}


h1 {
    font-size:2.5em;
    font-weight: 700;
    padding-bottom:0.5em;
    line-height:1.625em;
    text-align:center;
}

h2 {
    font-size:2em;
    line-height:2em;
    
}

h3 {
    font-size:1.5em;
    font-style: italic;
    line-height: 1.5em;
}

h4 {
    font-size:1.25em;
    font-style: italic;
    padding-bottom:1em;
    margin-bottom:1em;
    line-height:1em;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

p {
    font-size:1em;
    padding-bottom:1.5em;
    line-height:1.5em;
    font-weight:normal;
}

.site{
    width:100%;
    max-width: 1900px;
    margin: 0 auto;
}


.fundo{
    width: 100%;
    height: 235px;
    background-image: url(../img/fundo.jpg);
    background-position: 50% 35%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #f6f5f4;
    margin-top: 70px;
}

.fundo1{
    width: 100%;
    height: 235px;
    background-image: url(../img/fundo1.jpg);
    background-position: 50% 60%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #f6f5f4;
    margin-top: 70px;
}

.menu{
    display: flex;
    justify-content: center;
    padding-top: 35px;
    font-family: 'Merienda';
    color: #b33042;
}

.menu h1{
    font-size: 75px;
    font-family: 'Quicksand Regular';
}

.menu1 img{
    width: 100px;
    height: 100px;
}

.menu1{
    display: flex;
    justify-content:space-around;
    padding: 95px 250px 0px 250px
}

.menu1 article a{
	display: flex;
	justify-content:space-around;
	font-size: 20px;
    color: black;
    text-decoration: none; 
    font-family: 'Quicksand Regular';
}

.menu2{
    display: flex;
    justify-content:space-around;
    padding: 100px 290px 0px 230px
}

.menu2 img{
    margin-left: 30px;
}

.menu2 article a{
    display: flex;
	justify-content:space-around;
	font-size: 20px;
    color: #000000;
    text-decoration: none;
    font-family: 'Raleway-Regular';
}

.bbd:hover {
   transform: scale(1.1);
}

.eveti{
    text-align: center;
    padding-top: 40px;
    font-size: 50px;
    font-family: 'Quicksand Regular';
    color: #b33042;
}

.eve{
    display: flex;
    justify-content:space-around;
    font-size: 40px;
	margin: 45px;
    margin-top: 100px;
}

.eve article {
	display: flex;
	justify-content:space-around;
}
 
.eve article img {
    display: flex;
    justify-content: space-around;
    max-width: 520px;
    border-radius: 10px;
}

.evenome {
    display: flex;
    justify-content:space-around;
    font-size: 35px;
    color: #000000;
    font-family: 'Raleway-Regular';
}

.icones article{
	display: flex;
	justify-content: flex-end;
}

.Menuscardapio{
	display: flex;
	justify-content: center;
	font-size: 150px;
	margin: -15px;
}

.msp img{
    width: 1950px;
    border-width: 15px;
    max-width: 100%;
    margin-top: 22px;
    margin-bottom:1px;
    height:600px;
}

.msp p{
    width: 1950px;
    position: absolute;
    font-size: 70px;
    color:#1874CD;
    margin-left: 655px;
    margin-top: 250px;
    font-family: 'Lobster', cursive;
}

/* Contato */
.cto{
   padding: 100px;    
}

.contato{
    padding-right: 70%;
    margin-top: -10px;
    margin-left: 10px
}

.contato h1{
    font-size: 40px;
    margin-left: 5px;
}

.contato h6{
   font-size: 15px;
   margin-top: 5px;
}

.contato h2{
   font-size: 20px;
   margin-top: 10px;
}

.tbl{
    width: 60%;
    padding: 3px;
    margin-bottom: 5%;
    margin-top: -5px;
    border-radius: 5px; 
}

.nome h1{
    font-size: 20px;
    margin-top: -45px;
    margin-left: 95px;
}

.nome input{
    margin-right: 25px;
}

.sobre input{
    margin-right: 45px;
}

.sobrenome h1{
    font-size: 20px;
    margin-top: -25px;
    margin-left: 95px;
}

.telefone h1{
    font-size: 20px;
    margin-top: -20px;
    margin-left: 95px;
}

.email h1{
    font-size: 20px;
    margin-top: -35px;
    margin-left: 95px;
}

.mensagem h1{
    font-size: 20px;
    margin-top: -35px;
    margin-left: 95px;
}
