@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

/* Header */

#skel-layers-wrapper {
		padding-top: 3em;
}

#header {
		background: rgba(255, 255, 255, 0.5);
		color: #555f66;
		cursor: default;
		height: 3em;
		left: 0;
		line-height: 5em;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10000;
		box-shadow: 0 0 0.1em 0 rgba(0, 0, 0, 0.25);
}

#header nav {
			height: inherit;
			line-height: inherit;
			position: absolute;
			right: -14em;
			top: -15px;
			vertical-align: middle;
}

#header nav  ul {
				list-style: none;
				margin-right: 240px;
           
}

#header nav  ul  li {
					border-radius: 6px;
					display: inline-block;
					margin-left: 2em;
					padding-left: 0;
                    font-size: 22px;
}

#header nav  ul  li a {
						-moz-transition: color 0.2s ease-in-out;
						-webkit-transition: color 0.2s ease-in-out;
						-o-transition: color 0.2s ease-in-out;
						-ms-transition: color 0.2s ease-in-out;
						transition: color 0.2s ease-in-out;
						color: #555f66;
						display: inline-block;
						text-decoration: none;
						font-family: 'Quicksand', sans-serif;
}

#header nav  ul  li a:hover {
							color: #c07c2f;
}

#header nav  ul  li:first-child {
						margin-left: 0;
}

#header .container {
			position: relative;
}

#header .container h1 {
				left: 0;
}

#header .container nav {
				right: 0;
}

.logo img{
     max-width: 200px;
}

/* Footer */

	#footer {
		background: #f8f8f8;
		padding: 0 6em 0;
        margin-top: 175px;
	}

#footer h3{
    margin-left: 150px;
    font-size: 30px;
}
		#footer a {
			color: inherit;
}

       #footer p {
          margin-top: 10px;  
          font-size: 13px;
}

		#footer .copyright {
			color: #bbb;
			font-size: 0.9em;
			margin: 2em 0 0 0;
			padding: 0;
			text-align: center;
		}

			#footer .copyright li {
				border-left: solid 1px rgba(144, 144, 144, 0.25);
				display: inline-block;
    
			}

		#footer .icons a {
			color: #bbb;
		}

   #footer {
		padding: 1px;
}

/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon  .label {
			display: none;
		}

		.icon.major {
			display: inline-block;
			margin: 0 0 1.25em 0;
			color: #ffffff;
			background: #629DD1;
			width: 3em;
			height: 3em;
			font-size: 2em;
			text-align: center;
			line-height: 3em;
			border-radius: 100%;
			box-shadow: 0 0 0 10px #fff, 0 0 0 11px rgba(144, 144, 144, 0.25);
}

/* List */

ul {
		margin:  0 5em 0;
}

		ul.icons {
            padding-left: 0;
            margin-left: 10px;
            margin-top: 50px
		}

			ul.icons li {
				display: inline-block;
				padding: 0 1.25em 0 0;
			}

				ul.icons li:last-child {
					padding-right: 0;
				}

				ul.icons li :before {
					font-size: 3em;
				}

.container {
    padding: 10px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 35%;
    height: 100%; 
    overflow: auto; 
    padding-top: 250px;
    margin-left: 600px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
